.image-box {
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 20%;
  align-content: space-between;
  display: flex;
}

.image-box:hover {
  background-color: rgb(247, 239, 239);
  cursor: pointer;
  border-radius: 10%;
  transform: scale(1.1);
}

.artist-image {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.artist-title {
  color: blue;
}

.artist-click {
}

.artist-click:hover {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}
