.news-container {
  border: 1px solid #ededed;
  border-radius: 2%;
}

.main-news-container {
  padding: 0 !important;
  grid-area: news;
}

.main-news-container h2 {
  text-align: center;
  cursor: pointer;
}

.container-artists {
  width: 100%;
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 10vh;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50vh;
  grid-template-areas:
    "image  album album playlist"
    "concert concert news news";
}

.artist-page-image-container {
  grid-area: image;
  display: block;
}

#artist-page-pic {
  max-width: 100%;
  border-radius: 50%;
}
