.news-container {
  border: 1px solid #ededed;
  border-radius: 2%;
}

.main-news-container {
  padding: 0 !important;
  grid-area: news;
}

.container {
  display: grid;
  grid-template-areas:
    "news news concert concert"
    "playlist album album album";
}
