.image-box {
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 20%;
  align-content: space-between;
  display: flex;
}

.artist-image {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

#hover-container:hover .artist-image {
  transform: scale(1.1);
}

#hover-container {
  cursor: pointer;
}

.artist-title {
  color: blue;
}

.artist-click {
}

.artist-click:hover {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}
