.topArtist-container {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.topArtist-title {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.topArtist-children {
  display: flex;
  justify-content: center;
}

.top-artist-image-box {
  max-width: 280px;
  max-height: 280px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.topArtist-child {
  flex-basis: 33%;
}

ul {
  list-style-type: none;
}
