.topArtist-container {
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #abaab3;
  background: linear-gradient(to bottom right, #aeadb6, #d0cbcc);
  padding-top: 10vh;
  padding-bottom: 3vh;
}

.topArtist-container:hover {
  cursor: pointer;
}

.topArtist-title {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.topArtist-children {
  display: flex;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
}

.top-artist-image-box {
  max-width: 280px;
  max-height: 280px;
  width: auto;
  height: auto;
  border-radius: 50%;
}
.top-artist-image-box:hover {
}

.topArtist-child {
  flex-basis: 33%;
}

ul {
  list-style-type: none;
}

#top-artist-name {
  font-family: "Permanent Marker", cursive;
}
