/*The image*/
.aboutimg {
    width: 11vw;
    height: auto;
    padding: 0.5vw;
}
/*The text*/
 .abouttxt {
     font-size: 2.5vw;
     text-align: center;
     width: 100%;
     height: 27vh;
     padding: 1vh;
     overflow: auto;
     color: rgba(0, 0, 0, 0.8);
     background-color: rgba(255, 255, 255, 0.3);
     border: solid rgba(0, 0, 0, 0.15);
     margin: auto;
 }
 /*Titles of the list items*/
 .abouttitle2 {
    font-size: 3vw;
}
/*List items*/
 li {
     padding: 1vh;
     border: solid rgba(0, 0, 0, 0.02) 1px;
     border-radius: 10px;  
 }
 /*The list*/
 ul {
    padding: 1vh;
    width: 100%;
 }