.resultspage-container {
  /* border: 1px red solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20vh;
}

.display {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.top-artist-display {
  width: 100%;
}
