.disp-container {
    text-align: center;
    background: #fff;
    cursor: pointer;
}
.artist-list {
    overflow: auto;
    height: 30vh;
    width: auto;
}

.artist-list a {
    color: black;
    text-decoration: none;
}

.artist-list a:hover {
    color: gray;
}