.activeSelection {
  border: 1px solid #ededed;
  border-radius: 2%;
  background: linear-gradient(to bottom right, #aeadb6, #d0cbcc);
  cursor: pointer;
}

.inactiveSelection {
  border: 1px solid #ededed;
  border-radius: 2%;
  background: #fff;
  cursor: pointer;
}
