/* App */

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgba(225, 225, 225, 1);
}

/* LandingPage */

.landing-page {
  background-image: url("./images/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page a {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100px;
  text-align: center;
  margin-top: 2vh;
  cursor: pointer;
  font-size: 3vh;
  color:white;
  font-weight: bold;
  -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     transform: rotate(45deg);
     filter: progid:DXImageTransform.Microsoft.Matrix(M11='0.7071067811865476', M12='-0.7071067811865475', M21='0.7071067811865475', M22='0.7071067811865476', sizingMethod='auto expand');
     z-index: 2;
}

.landing-page a:hover {
  text-decoration: none;
  color: white;
}

#about-div::before,
#about-div::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-right-color:rgba(0, 0, 0, 0.3);
    border-top-color: rgba(0, 0, 0, 0.3);
}

#about-div::after {
    border-radius: 0.4em;
    border-width: 3.85em;
}

.page-title {
  color: white;
  font-size: 20vh;
  font-size: 15vw;
  margin-bottom: 8vh;
}

/* SignIn */

.login-button {
  width: 25vw;
  height: auto;

}

.fork-button {
  color: inherit;
  padding: 8px;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
  transition: 1s;
  background-color: rgba(0, 0, 0, 0);
}

.fork-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.loading {
  width: 5vw;
  height: auto;
}

/* SearchBar */

.search-input {
  max-width: 45vw;
  min-height: 5vw;
}

.search-button {
  color: white;
  min-width: 15vw;
  font-size: 2vh;
  font-weight: bold;
}

/* Images */

.logo {
  max-height: 2vh;
}

.search-results {
  height: 100vh;
}
