/* App */

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgba(225, 225, 225, 1);
}

/* LandingPage */

.landing-page {
  background-image: url("./images/background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  color: rgb(255, 255, 255);
  font-size: 20vh;
  font-size: 15vw;
  margin-bottom: 8vh;
}

/*About Button*/
#about-div a {
  z-index: 2;
  position: absolute;
  top: 3vh;
  right: 0.5vw;
  cursor: pointer;
  font-size: 1.5vw;
  color:rgba(255, 255, 255, 1);
  font-weight: bold;
  text-decoration: none;
  transition:0.4s;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11='0.7071067811865476', M12='-0.7071067811865475', M21='0.7071067811865475', M22='0.7071067811865476', sizingMethod='auto expand');
}

#about-div a:hover {
  color:rgba(0, 0, 0, 0.5);
}

/* SignIn */

.login-button {
  width: 25vw;
  height: auto;

}

.fork-button {
  color: inherit;
  padding: 8px;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
  transition: 0.6s;
  background-color: rgba(0, 0, 0, 0);
}

.fork-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.loading {
  width: 5vw;
  height: auto;
}


/* SearchBar */

.search-input {
  max-width: 45vw;
  min-height: 5vw;
}

.search-button {
  color: white;
  min-width: 15vw;
  font-size: 2vh;
  font-weight: bold;
}

/* Images */

.logo {
  max-height: 2vh;
}

.search-results {
  height: 100vh;
}
